body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 600px;
    height: 400px;
    margin: 20px auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the runs on the landing page */
.run-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.run {
    position: relative;
    margin: 10px;
}

.run img {
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 10px; /* Optional, for rounded corners */
}

.run-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000; /* To make text more readable */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}
