body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 600px;
    height: 400px;
    margin: 20px auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the runs on the landing page */
.run-container {
    display: flex;
    flex-direction: column; /* Always stack the .run elements vertically */
    align-items: center; /* Center the items */
    width: 100%; /* Take full width of the container */
}

.run {
    position: relative;
    width: 100%; /* Each run takes full width of the screen */
    margin: 10px 0; /* Vertical margin only */
}

.run img {
    width: 100%; /* Images take full width */
    height: auto; /* Height is automatic to maintain aspect ratio */
    border-radius: 10px;
}

.run-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center the title horizontally */
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}
/* The media query is no longer necessary since we're stacking the tiles on all screen sizes */
